body {
	font-family: calibri;
	font-size: 1.2rem;
	line-height: 1.6em;
	margin:0;

}

i {
	text-align: center;
}
h1 {
	font-size:2rem;
	line-height:1.3em;
	text-align: center;
	font-family: calibri;
}

img {
	  margin:42 21px;

}
p {
	margin-bottom: 1.6em;
	text-align: center;
}

p.justify {text-align: justify;}


.container{
	width: 85%;
	max-width: 850px;
	margin:0 auto;
}

.header {
	color:#333;
	padding: 2rem 0;
	text-align: center;
}

 .header a {
 	color:#333;
 	text-decoration: none;
 }

a {
  text-decoration: none;
  color: #000;
}

.navigation ul {
	margin:0;
	padding:0;
	list-style: none;
	text-align: center;
}
  .navigation ul li {
  	display: inline-block;
  }
    .navigation ul li a {
    	display: block;
    	padding: 0.5rem 1rem;
    	transition: all 0.4s linear;
    	border-radius: 5px;
    }
      .navigation ul li a:hover {
      	background: #ccc;
      }

 .footer {
 	background: #f2f2f2;
 	padding: 4rem 0;
 	text-align: center;
 	margin-top: 6rem;
 }